<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup - OJT Time Tracker</title>
    
    <link rel="stylesheet" href="../../../../static/css/main.css">

    <script>
        function changeOpacity() {
            //set attribute
            document.getElementById('message').setAttribute("class", "hide-flash-message"); 
        }       
    </script>
</head>

<body class="
    h-screen p-8 
    bg-[#D1E0C8] 
    font-(family-name:--font-family)
">
    <!-- message notif -->
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div id="message" onclick="changeOpacity()" class="flex items-center justify-center h-8 w-[100vw] p-5 bg-red-100 absolute left-0 top-0 opacity-85">
                <p id="header" class="mr-1 font-bold">Notice:</p>
                <p>{{ messages[0] }}</p>
            </div>
        {% endif %}
    {% endwith %}

    <h2 class="text-2xl font-bold">Adviser Registration</h2>

    <form action="{{ url_for('auth.adviser_signup') }}" method="post" class="flex justify-between flex-wrap mt-5 mx-6 max-sm:mx-2">

        <div class="flex flex-col w-[50%] m-2 max-md:w-full max-sm:w-full">
            <label for="name" class="text-sm font-bold text-gray-90">Name</label>
            <input type="text" name="name" id="name" placeholder="Enter Name" required class="register-txt-box mt-2">
        </div>

        <div class="flex flex-col w-[45%] m-2 max-md:w-full max-sm:w-full">
            <label for="email" class="text-sm font-bold text-gray-90" >Email</label>  
            <input type="text" name="email" id="email" placeholder="Enter Email" required class="register-txt-box mt-2">
        </div>

        <div class="flex flex-col w-[50%] m-2 max-md:w-full max-sm:w-full">
            <label for="school" class="text-sm font-bold text-gray-90" >School</label>  
            <input type="text" name="school" id="email" placeholder="Enter School" requried class="register-txt-box mt-2">
        </div>


        <div class="flex flex-col w-[50%] mt-16 mx-2 max-md:w-full max-sm:w-full max-md:mt-5 max-sm:mt-5">
            <label for="password" class="text-sm font-bold text-gray-90" >Password</label>  
            <input type="password" name="password" id="password" placeholder="Enter Password" required class="register-txt-box mt-2">
        </div>

        <hr class="w-full mt-8 mx-2 mb-5  bg-[#000000] opacity-50 border-1">
        
        <button type="submit" class="rounded-lg w-50 p-4 mx-2 mb-4 bg-[#A19F9F] hover:bg-[#b7b4b4] opacity-80 font-bold">Register</button>
    </form>

  
</body>
</html>