<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup As</title>

    <link rel="stylesheet" href="../../../../../static/css/main.css">
</head>
<body class= "h-screen p-3 bg-[#D1E0C8] font-(family-name:--font-family)">
    <h2 class="text-2xl font-bold">Registration</h2>

    <div class="flex items-center justify-center max-sm:flex-col gap-[10%] h-[80%]">
        <button class="custom-btn">Student</button> 
        <button class="custom-btn">Adviser</button>
    </div>
    
</body>
</html>