{% extends 'home_base.html' %}

{% block title %} Dashboard {% endblock %}

{% block content %}
    <div id="timeout-dialog" class="fixed flex items-center justify-center left-0 top-0 w-full h-full bg-gray-700 opacity-95 invisible">
        <section class="flex flex-col rounded-lg w-[30%] h-[60%] p-3 bg-[#D1E0C8] shadow-md">
            <div class="flex justify-between mb-2">
                <h2 class="font-bold text-2xl">Time Out Details</h2>
                <div class="flex flex-row-reverse">
                    <button title="Back" onclick="closeDialog()" id="back-btn">X</button>
                </div>
            </div>
            
            <form action="{{ url_for('student_home.index') }}" method="post"> 
                <label for="status" class="text-sm font-bold text-gray-90" >Duty Status:</label>
                <select name="status" id="status" required class="register-select-box w-full mt-2">
                    <!-- By default it is a normal day -->
                    <option value="Regular">Regular Day</option>
                    <option value="Double">Double Hours</option>
                 </select>
                
                 <label for="note" class="mt-4 text-sm font-bold text-gray-90" >Note:</label>
                 <textarea maxlength="155" rows=2 name="note" id="note" placeholder="Enter note" class="rounded-md px-2 py-4 w-full h-[70%] bg-[#FAFAFA] hover:bg-[#FFFFFF] hover:outline-2"></textarea>
    
                 <div class="flex items-center justify-center h-[50%]">
                    <button type="submit" class="rounded w-[60%] h-[50%] bg-(background-color:--base-color) hover:bg-amber-200 font-bold cursor-pointer"> Time Out</button>
                 </div>
            </form>
        </section>
    </div>

    <!-- nav bar -->
    <nav class="flex justify-between items-center px-4 bg-[#A6BF8E]">
        <h2 class="text-xl font-bold">
            OJT Timestamp Counter
        </h2>

        <div class="flex">
            <div class="flex items-center justify-center"> {{ name }} </div>
            <a href="{{ url_for('auth.logout',user_type='student') }}"  title="Logout" class="flex items-center justify-center w-[3em] h-[3em] hover:bg-[#ACC497]">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 9V5.25A2.25 2.25 0 0 0 13.5 3h-6a2.25 2.25 0 0 0-2.25 2.25v13.5A2.25 2.25 0 0 0 7.5 21h6a2.25 2.25 0 0 0 2.25-2.25V15m3 0 3-3m0 0-3-3m3 3H9" />
                </svg>
            </a>
        </div>
    </nav>

    <!-- contents and tables -->
    <main class="h-[80%]">
        <div class="grid grid-cols-3 grid-rows-3 gap-1 h-full">
            <!-- Button Section -->
            <div class="row-span-2 flex items-center justify-center">
                <div class="flex items-start justify-center flex-col w-[60%] h-[30%]">
                    {% if is_pressed == 'True' %}
                        <div class="w-full h-[80%]">
                            <button onclick="openDialog()" id="timeout-btn" class="rounded w-[75%] h-[80%] bg-amber-200 hover:bg-amber-300 font-bold cursor-pointer">Time Out</button>
                        </div>
                    {% else %}
                        <form action="{{ url_for('student_home.index') }}"  method="post" class="w-full h-[80%]">
                            <button type="submit" class="rounded w-[75%] h-[80%] bg-(background-color:--base-color) hover:bg-amber-200 font-bold cursor-pointer"> Time In</button>
                        </form>
                    {% endif %}
                    
                    {% if is_showed == 'True' %}
                        <div class="flex text-sm">
                            <p>{{ time }}</p>
                        </div>
                    {% endif %}
                </div>
            </div>

            <!-- Computation table -->
            <section class="col-start-1 row-start-3 flex items-center justify-center p-5">
                <!-- INCLUDE `sr-only` when sectioning  -->
                <h2 class="sr-only">Computation Table</h2>
                <div class="overflow-auto rounded-lg w-full">
                    <table class="w-full">
                        <thead class="bg-[#DED9D9]">
                            <tr class="rounded-md ">
                                <th class="table-header">Total Days</th>
                                <th class="table-header">Total Hours</th>
                                <th class="table-header">Remaining Hours</th>
                                <th class="w-15 p-2 text-sm font-semibold tracking-wide whitespace-nowrap">Remaining Days</th>
                            </tr>
                        </thead>
                        <tbody class= "bg-[#FFFFFF] divide-y">
                            <tr>
                                <td class="table-data">{{days_count}} Day/s</td>
                                <td class="table-data">{{total_hours}}</td>
                                <td class="table-data">{{student_hours - total_hours}}</td>
                                <td class="w-15 p-2 text-sm text-center tracking-wide border-[#ADAAAA]">{{student_hours // 8}} Day/s</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </section>

            <!-- Timesheet table -->
            <section class="col-start-2 col-span-2 row-start-1 row-span-3 flex items-center justify-start flex-col p-4">
                <h2 class="sr-only">Timesheet Table</h2>
                <!-- time and date display -->
                <div class="flex items-center justify-center flex-col w-full h-[20%] mb-2 rounded-lg bg-[#DED9D9]">
                    <h2 id="client-time" class="font-bold text-2xl">5:00 PM</h2>
                    <div class=" flex gap-2 text-xl font-semibold">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 2.994v2.25m10.5-2.25v2.25m-14.252 13.5V7.491a2.25 2.25 0 0 1 2.25-2.25h13.5a2.25 2.25 0 0 1 2.25 2.25v11.251m-18 0a2.25 2.25 0 0 0 2.25 2.25h13.5a2.25 2.25 0 0 0 2.25-2.25m-18 0v-7.5a2.25 2.25 0 0 1 2.25-2.25h13.5a2.25 2.25 0 0 1 2.25 2.25v7.5m-6.75-6h2.25m-9 2.25h4.5m.002-2.25h.005v.006H12v-.006Zm-.001 4.5h.006v.006h-.006v-.005Zm-2.25.001h.005v.006H9.75v-.006Zm-2.25 0h.005v.005h-.006v-.005Zm6.75-2.247h.005v.005h-.005v-.005Zm0 2.247h.006v.006h-.006v-.006Zm2.25-2.248h.006V15H16.5v-.005Z" />
                        </svg>
                        <p>{{time_client_display['date']}}, {{time_client_display['day']}}</p>
                    </div>
                </div>

                <!-- timesheet table list -->
                <div class="overflow-auto scroll-m-0 rounded-lg w-full h-[500px]">
                    <table class="w-full rounded-lg">
                        <thead class="bg-[#DED9D9]">
                            <tr class="rounded-md ">
                                <th class="table-header">Date</th>
                                <th class="table-header">Time In</th>
                                <th class="table-header">Time Out</th>
                                <th class="w-12 border-r-1 border-[#ADAAAA] text-sm font-semibold tracking-tighter whitespace-nowrap">Hours Worked</th>
                                <th class="w-12 border-r-1 border-[#ADAAAA] text-sm font-semibold whitespace-nowrap">Daily Status</th>
                                <th class="w-20 p-2 text-sm font-semibold tracking-wide">Note</th>
                            </tr>
                        </thead>
                        <tbody class= "bg-[#FFFFFF] divide-y">
                            {% for time in timesheet %}
                                <tr class="border-0 odd:bg-white even:bg-[#DED9D9] hover:bg-gray-300">
                                    <td class="table-data">{{time['date']}}</td>
                                    <td class="table-data">{{time['time_in'] | format_time}}</td>
                                    <td class="table-data">{{time['time_out']}}</td>
                                    <td class="table-data">{{time['hours_worked']}}</td>
                                    <td class="table-data">{{time['status']}}</td>
                                    <td class="w-20 p-2 border-r-1 border-[#ADAAAA] text-sm tracking-wide">{{time['note']}}</td>
                                </tr>
                            {% endfor %}
                            {% for i in range(13 - timesheet|length) %}
                                    <tr class="border-0 odd:bg-white even:bg-[#DED9D9] hover:bg-gray-300">
                                        <td class="table-data h-8"> </td>
                                        <td class="table-data h-8"> </td>
                                        <td class="table-data h-8"> </td>
                                        <td class="table-data h-8"> </td>
                                        <td class="table-data h-8"> </td>
                                        <td class="w-20 p-2 border-r-1 border-[#ADAAAA] text-sm tracking-wide"> </td>
                                    </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>

            </section>
        </div>
    </main>

    <script>
        //showing dialog
        function openDialog() {
            const element = document.getElementById('timeout-dialog');
            element.classList.remove('invisible');
        }

        //closing dialog
        function closeDialog() {
            const element = document.getElementById('timeout-dialog');
            element.classList.add('invisible');
        }

        //-------------------------------------------------------------
        const element = document.getElementById("client-time");

        setInterval(function () {
            const date = new Date();

            let hour = date.getHours();
            let minute = date.getMinutes();
            let seconds = date.getSeconds();

            let am_pm = hour >= 12 ? 'PM' : 'AM';

            // Convert to 12-hour format
            hour = hour % 12;
            hour = hour ? hour : 12; // if hour is 0, set to 12

            // Pad with leading zeros
            hour = String(hour).padStart(2, '0');
            minute = String(minute).padStart(2, '0');
            seconds = String(seconds).padStart(2, '0');

            element.innerHTML = `${hour}:${minute}:${seconds} ${am_pm}`;
        }, 1000);

    </script>
{% endblock %}