@import "tailwindcss";

:root {
  --font-family: Arial, Verdana, sans-serif;
}

/* Choose Signup utility*/
.custom-btn {
  @apply p-24
    rounded-lg 
    text-[2.25rem]
    bg-[#A19F9F] hover:bg-[#c7c4c4]
    max-md:p-12 
    max-sm:h-full max-sm:w-full max-sm:p-8 max-sm:text-[1.25rem];
}

/* Register text box utility */
.register-txt-box {
  @apply rounded-lg 
  px-2
  py-4
  h-12
  opacity-80
  bg-[#FAFAFA] hover:bg-[#FFFFFF] 
  focus:outline-0 focus:border-2 focus:bg-[#FFFFFF];
}

.register-select-box {
  @apply rounded-lg 
  px-2

  h-16
  opacity-80
  bg-[#FAFAFA] hover:bg-[#FFFFFF] 
  focus:outline-0 focus:border-2 focus:bg-[#FFFFFF];
}
    