<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adviser Login - OJT Time Tracker</title>
    <link rel="stylesheet" href="../../../../static/css/main.css">
</head>
<body class="
    box-border 
    m-0 p-0 
    h-screen
    font-(family-name:--font-family)">
     <!-- main section -->
     <div class="
        flex
        h-[90%] w-full ">

        <!-- logo (left) -->
        <div class="
            <!-- bg-[url(../images/cover_logo.png)]
            bg-no-repeat
            bg-cover -->
            h-[100%] w-[50%]
            
            <!-- max-md:bg-[url(../images/black_elon.jpg)]  -->
            max-sm:w-0
            ">
        </div>

        <!-- login section (right) -->
        <div class="
            flex items-center justify-center
            bg-[var(--base-color)]
            w-[50%]

            <!-- max-sm:w-full
            max-sm:bg-[url(../images/cover_logo.png)] 
            max-sm:bg-[9.37rem]
            -->
            ">
            
            <!-- login container -->
            <div class="
                rounded-md
                flex flex-col items-center justify-center
                bg-[#E0E9D8]
                h-[80%] w-[70%]

                max-md:w-[80%]
                max-sm:w-[80%]
                max-sm:h-[95%] ">
                
                <h1 class="text-3xl font-bold mb-[2.5rem]">⭐ ADVISER LOGIN</h1>

                <form action="" method="POST" class="
                    flex flex-col items-center justify-center 
                    w-full 
                    max-sm:w-65% ">

                    <input type="text" name="email" id="" placeholder="Email" class="login-txt-box">
                    <input type="password" name="pass" id="" placeholder="Password" class="login-txt-box">

                    <input type="submit" value="Login" class="
                        rounded-md 
                        bg-[#A19F9F] hover:bg-[#b7b4b4]
                        p-3 
                        w-[15rem]
                        font-bold
                        text-center opacity-80 
                    ">

                    <!-- link to registration form -->
                    <a href="{{ url_for('auth.student_login') }}" class="mt-2 text-[#4286f4] hover:underline text-sm max-sm:text-xs">Back to Student Login</a>
                </form>
                
                <!-- register section -->
                <div class="
                    mt-[24px]
                    w-[80%]">

                    <div class="
                        flex gap-2 
                        max-md:gap-[0.3] max-sm:gap-[0.3]">
                        <p class="text-xs">Don’t have an account?</p>

                        <!-- link to registration form -->
                        <a href="{{ url_for('auth.redirect_to_signup') }}" class="
                            text-[#4286f4] 
                            hover:underline 
                            text-xs ">Register here</a>
                    </div>
                    
                    <div class="
                        flex gap-2
                        max-md:gap-[0.3] max-sm:gap-[0.3]">
                        <p class="text-xs ">Forget Account?</p>
                        
                        <a href="#" class="
                            text-[#4286f4] 
                            hover:underline
                            text-xs">Click here</a>
                    </div>
                </div>

            </div>
            
        </div>

        
    </div>
    <footer class="custom-footer">
        Copyright © 2025 | Terms
    </footer>
    
    
</body>
</html>