<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing Page</title>

    <link rel="stylesheet" href="../../../static/css/main.css">
</head>
<body class="p-5">
    <p class="text-red-500">{{ message }}</p>

    <a href="{{ url_for('auth.student_login') }}" class="text-sky-500 underline">Login</a>
    <a href="{{ url_for('auth.choose_signup') }}" class="text-sky-500 underline">Sign Up</a>
</body>
</html>